<mat-card class="add-intern-card">
  <mat-card-header>
    <mat-card-title>Add New Intern</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #internForm="ngForm" (ngSubmit)="addIntern()" class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="intern.name" name="name" required nameValidator #name="ngModel">
        <mat-error *ngIf="name.errors?.['required']">Name is required</mat-error>
        <mat-error *ngIf="name.errors?.['invalidName']">Name can only contain letters and spaces</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput type="number" [(ngModel)]="intern.age" name="age" required min="0" placeholder="0">
        <mat-error *ngIf="internForm.controls['age']?.invalid">Valid age is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="intern.dateOfBirth" name="dateOfBirth" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="internForm.controls['dateOfBirth']?.invalid">Date of birth is required</mat-error>
      </mat-form-field>

      <div class="button-row">
        <button mat-button type="button" routerLink="">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!internForm.valid">Add Intern</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>